# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.env
.venv
env/
venv/

# Distribution / packaging
dist/
build/
*.egg-info/

# PyCharm / JetBrains IDE
.idea/

# VS Code
.vscode/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Project specific
Files/*.json
*.ply
*.vtm
*.glb